[defaults]
# Indique à Ansible où chercher les fichiers d'inventaire par défaut
inventory = ./inventory/lab_mysql_inventory.yml

# --- CRUCIAL POUR AWX : Chemins des collections ---
# On force Ansible à chercher là où AWX télécharge les requirements.yml
collections_paths = /runner/requirements_collections:/runner/.ansible/collections:/usr/share/ansible/collections

# Désactive la vérification des clés SSH (Essentiel pour un Lab)
host_key_checking = False

# Timeout de connexion pour les équipements réseau lents
timeout = 30

# Utilisateur par défaut pour les connexions SSH
remote_user = admin

[inventory]
# --- IMPORTANT : Activation des plugins ---
# On déclare explicitement les plugins autorisés. 
# community.general.mysql_query doit être présent pour lire ton YAML MySQL.
enable_plugins = community.general.mysql_query, script, auto, yaml, ini

[privilege_escalation]
# Configuration du passage en mode root (sudo)
become = True
become_method = sudo
become_ask_pass = False
