
[defaults]
# Indique à Ansible où se trouve ton inventaire dynamique par défaut
inventory = ./inventory/lab_mysql_inventory.yml

# Désactive la vérification des clés SSH (INDISPENSABLE pour un LAB)
host_key_checking = False

# Délai d'attente pour la connexion (en secondes)
timeout = 30

# Définit l'utilisateur SSH par défaut (à adapter selon ton lab)
remote_user = admin

# Chemin pour stocker les fichiers temporaires sur la VM 1
remote_tmp = /tmp/.ansible-${USER}/tmp

[privilege_escalation]
# Permet de passer en mode 'sudo' (root) si nécessaire
become = True
become_method = sudo
become_ask_pass = False
